html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-size: 18px;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: tomato wavy underline;
}
a.Active {
  text-shadow: 0 0.4em 0.8em tomato;
}

* {
  box-sizing: border-box;
}

button {
  margin: 0.15rem 0.5rem;
}
