@font-face {
  font-family: 'Virgil';
  src: url('https://excalidraw.com/Virgil.woff2');
}
/* @font-face {
  font-family: 'Cascadia';
  src: url('https://excalidraw.com/Cascadia.woff2');
} */

:root {
  /* Fonts */
  --font-sans-serif: Neucha, -apple-system, system-ui, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  --font-handwriting: Virgil, Caveat, cursive;
  --font-headers: 'Cabin Sketch', cursive;
  --body-font: var(--font-sans-serif);

  /* Colors */
  --body-bg: white;
  --text-lowlight: gray;

  /* Spacing */
  --main-margin: 3rem;
  --section-padding: 1rem;
  --section-gap: 0.75rem;
  --inline-spacing: 0.35rem;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-size: 18px;
  font-family: var(--body-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: var(--section-padding);
  font-family: var(--font-headers);
  font-weight: 500;
  line-height: 1.2;
}

h2 {
  font-size: 1.65em;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-shadow: 0 0.4em 0.8em tomato;
}
a.active {
  text-decoration: tomato wavy underline;
  text-underline-offset: 0.15rem;
}

form label {
  /* margin-bottom: calc(-1 * var(--section-gap)); */
  font-family: var(--font-monospace);
  font-size: smaller;
  color: var(--text-lowlight);
}

input,
button:not(:last-child),
textarea {
  margin: 0;
  margin-bottom: var(--section-gap);
}

p > button {
  margin: 0 var(--inline-spacing);
}

input,
textarea {
  padding-left: var(--inline-spacing);
  padding-right: var(--inline-spacing);
  border-radius: 50px 15px 15px 15px / 10px 75px 25px 45px;
  line-height: 1.5;
}
input[type='file'] {
  margin-right: var(--inline-spacing);
  padding-left: 0;
  padding-right: 0;
}

button,
input[type='file']::file-selector-button {
  border-radius: 50px 15px 15px 15px / 10px 75px 45px 25px;
  font-size: inherit;
  line-height: 1.5;
}
button:not(:disabled) {
  cursor: pointer;
}
