@font-face {
  font-family: 'Virgil';
  src: url('https://excalidraw.com/Virgil.woff2');
}
/* @font-face {
  font-family: 'Cascadia';
  src: url('https://excalidraw.com/Cascadia.woff2');
} */

:root {
  /* Fonts */
  --font-sans-serif: Neucha, -apple-system, system-ui, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  --font-handwriting: Virgil, Caveat, cursive;
  --font-headers: 'Cabin Sketch', cursive;
  --body-font: var(--font-sans-serif);

  /* Colors */
  --color-body-bg: white;
  --color-button-bg: rgb(239, 239, 239);
  --color-button-border: rgb(118, 118, 118);
  --color-text-lowlight: gray;
  --color-sauce: #c92a2a;

  /* Spacing */
  --main-margin: 3rem;
  --section-padding: 1rem;
  --section-gap: 0.75rem;
  --inline-spacing: 0.35rem;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-size: 1.1rem;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: var(--section-padding);
  font-family: var(--font-headers);
  font-weight: 500;
  line-height: 1.2;
}

h2 {
  font-size: 1.65em;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration-line: underline;
  text-decoration-color: transparent;
  text-decoration-style: solid;
  text-decoration-thickness: 0.15rem;
  text-underline-offset: 0.15rem;
  cursor: pointer;
  transition: 0.35s ease-out;
}
a:hover {
  text-decoration-color: var(--color-sauce);
}
a.active {
  color: var(--color-sauce);
  text-decoration: none;
}
a.active:hover {
  text-decoration: none;
}
a.active::after {
  content: '👈';
  margin-left: var(--inline-spacing);
}

form label {
  /* margin-bottom: calc(-1 * var(--section-gap)); */
  font-family: var(--font-monospace);
  font-size: 0.8rem;
  color: var(--color-text-lowlight);
}

input,
button:not(:last-child),
textarea {
  margin: 0;
  margin-bottom: var(--section-gap);
}

p > button {
  margin: 0 var(--inline-spacing);
}

input:not([type='file']),
textarea {
  padding-left: var(--inline-spacing);
  padding-right: var(--inline-spacing);
  border-radius: 50px 15px 15px 15px / 10px 75px 25px 45px;
  border-color: var(--color-button-border);
  border-style: solid;
  line-height: 1.5;
}
input[type='file'] {
  margin-right: var(--inline-spacing);
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
  padding-bottom: var(--section-gap);
}

button,
input[type='file']::file-selector-button {
  border-radius: 50px 15px 15px 15px / 10px 75px 45px 25px;
  border-color: var(--color-button-border);
  border-style: solid;
  font-size: inherit;
  line-height: 1.5;
  background-color: var(--color-button-bg);
}
button:not(:disabled),
input[type='file']::file-selector-button {
  cursor: pointer;
}

button.squirmy,
input.squirmy[type='file']::file-selector-button {
  transition: box-shadow 0.25s ease-out, border-radius 0.5s ease-in-out;
}

button.squirmy:not(:disabled):hover,
input.squirmy[type='file']::file-selector-button:hover {
  /* border-radius: 50px 15px 15px 15px / 10px 75px 45px 25px; */
  border-radius: 15px 15px 50px 15px / 25px 45px 10px 75px;
  box-shadow: 0.2rem 0.8rem 0.4rem -0.6rem hsla(0, 0%, 0%, 0.3);
}

button.boxless {
  margin: 0;
  padding: 0;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  line-height: normal;
}

.clickme {
  transition: transform 0.15s ease-out;
}
.clickme:hover {
  transform: scale(1.2);
  font-weight: bold;
}
