#app-wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

#header-wrapper {
  width: 100%;
  padding: var(--section-padding) var(--main-margin) 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-body-bg);
}
.header-controls {
  text-align: right;
  line-height: 1.5;
}
h1.app-title {
  margin: 0;
  position: relative;
  top: var(--section-padding);
  z-index: 40;
  font-family: var(--font-handwriting);
  font-size: 3.5rem;
}
#header-wrapper::after {
  content: '';
  height: var(--main-margin);
  width: 100%;
  position: absolute;
  z-index: 10;
  bottom: calc(-1 * var(--main-margin));
  left: 0;
  background: linear-gradient(
    var(--color-body-bg),
    75%,
    rgba(255, 255, 255, 0)
  );
  pointer-events: none;
}

#footer-wrapper {
  width: 100%;
  padding: var(--section-padding) var(--main-margin);
  position: relative;
  display: flex;
  gap: var(--section-padding);
  justify-content: center;
  align-items: baseline;
  background-color: var(--color-body-bg);
}

#navigation {
  width: min-content;
  padding: var(--section-padding);
  position: fixed;
  top: 90px;
  right: 0;
  z-index: 30;
  white-space: nowrap;
  transform: translateX(calc(-1 * var(--main-margin)));
  transition: all 0.35s ease-in;
}
#navigation ul {
  transition: all 0.35s ease-in-out;
}
#navigation .link {
  margin-left: calc(1.5 * var(--section-padding));
}
#navigation .link:not(:last-child) {
  margin-bottom: var(--section-gap);
}
#navigation li > span {
  display: block;
  font-size: small;
}
#navigation .nav-buttons {
  margin-bottom: var(--section-gap);
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: var(--font-headers);
  font-weight: 500;
  font-size: 1.17em;
  line-height: 1.2;
}
#navigation .menu-toggle {
  transition: all 0.35s ease-in, color 0.15s ease-out;
}
#navigation.hidden .menu-toggle {
  transform: translateX(
    calc(-1 * (100% + var(--section-padding) + var(--main-margin)))
  );
}
#navigation .menu-toggle:hover {
  color: var(--color-sauce);
}
#navigation svg {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: var(--inline-spacing);
  transform: rotate(-90deg);
}
#navigation.hidden {
  background-color: rgba(255, 255, 255, 0);
  transform-box: border-box;
  transform: translateX(100%);
}
#navigation.hidden ul {
  opacity: 0;
}
#nav-backdrop {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 90px;
  left: 0;
  z-index: 29;
  opacity: 0.8;
  background-color: var(--color-body-bg);
  transition: all 0.35s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
#nav-backdrop.hidden {
  opacity: 0;
  visibility: hidden;
}

main {
  display: contents;
}

.main-wrapper {
  width: 100%;
  padding: var(--main-margin);
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(2, fit-content(40vw));
  grid-auto-flow: column;
  column-gap: var(--main-margin);
  row-gap: var(--section-padding);
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}
.main-wrapper .to-bottom {
  align-self: flex-end;
}
.main-wrapper .to-top {
  align-self: flex-start;
}

/*********************
 * Site Index Styles *
 *********************/

.main-wrapper.index {
  grid-template-columns: minmax(300px, 400px) fit-content(50vw);
  grid-template-rows: min-content 1fr;
}
.index-block {
  font-size: 1.2rem;
  line-height: 1.5;
}
.index-block svg {
  width: 100%;
  height: auto;
}
.index h3 {
  white-space: nowrap;
}
.index blockquote {
  text-align: end;
}
.index blockquote p {
  font-family: var(--font-handwriting);
}
.index blockquote p::before {
  content: '“';
  font-size: larger;
  margin-left: calc(-2 * var(--inline-spacing));
  margin-right: var(--inline-spacing);
}
.index blockquote p::after {
  content: '”';
  font-size: larger;
  margin-left: var(--inline-spacing);
  margin-right: calc(-2 * var(--inline-spacing));
}
.index figcaption::before {
  content: '~';
  margin-right: var(--inline-spacing);
}

.index-block.login {
  padding: 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--section-padding);
}
.login-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.login-message span {
  white-space: nowrap;
  font-family: var(--font-handwriting);
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

/*******************************
 * Team and Member Edit Styles *
 *******************************/

.main-wrapper.details {
  grid-template-columns: fit-content(40vw) 40vw;
}

.details-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.profile-avatar {
  width: 150px;
  height: 150px;
  position: relative;
}

/********************
 * Team View Styles *
 ********************/

.main-wrapper.team {
  grid-template-columns: fit-content(40vw) min-content;
}

.team-side {
  padding: var(--section-padding);
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  border: double 6px hsl(33, 14%, 50%);
  /* border-radius: 5px; */
  background-color: #cdb699;
  box-shadow: 0.65rem 0.65rem inset hsl(33, 34%, 35%),
    -0.1rem -0.1rem 0.75rem inset hsl(33, 54%, 15%);
}
.team-side h2 {
  white-space: nowrap;
}
.team-side h2,
.team-side h3,
.team-side h4 {
  width: 100%;
  text-align: center;
}
.team-side h3 {
  font-size: large;
}
.team-side h4 {
  font-size: larger;
  font-family: Virgil, Caveat, cursive;
}
.member-side {
}
.collab {
  padding: var(--section-padding);
  display: flex;
  flex-flow: row wrap;
  gap: var(--section-gap);
  background-color: white;
  transform: rotate(0.75deg);
  box-shadow: 0.1rem 0.1rem 0.5rem black;
}
.collab-entry {
  max-width: 80%;
  /* Padding to center theweird font vertically in box */
  padding: 0.3rem 0.5rem 0.15rem;
  font-size: smaller;
  transform-box: border-box;
  transform: translateX(10%);
}
.collab-entry:hover {
  box-shadow: 0.2rem 0.8rem 0.4rem -0.6rem hsla(0, 0%, 0%, 0.3);
}

.member-card {
  height: 100px;
  box-sizing: content-box;
  margin: var(--section-padding);
  padding: var(--section-gap);
  display: grid;
  grid-template-columns: 1fr 100px;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'details avatar'
    'answer avatar';
  justify-content: space-between;
  font-size: smaller;
  cursor: pointer;
}
.member-card h4 {
  margin: 0;
  font-size: 1.5rem;
  font-family: var(--font-handwriting);
  white-space: nowrap;
}
.member-card .avatar {
  width: 100px;
  height: 100px;
  grid-area: avatar;
  position: relative;
}
.member-card .details {
  grid-area: details;
}
.member-card p {
  /* The largest of this member name <h4> determines the column width */
  max-width: 15vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.member-card .answer {
  padding-left: var(--section-gap);
  grid-area: answer;
  align-self: flex-end;
}
.member-card .prompt {
  font-size: 0.8rem;
  color: var(--color-text-lowlight);
}

/*******************************
 * Member Profile Modal Styles *
 *******************************/

.member-modal-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 90px;
  left: 0;
  z-index: 29;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.member-modal {
  width: 40vw;
  box-sizing: content-box;
  padding: var(--main-margin);
  position: relative;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: auto auto;
  grid-template-areas:
    'details avatar'
    'answer answer';
  justify-content: space-between;
  font-size: 1rem;
  background-color: var(--color-body-bg);
  pointer-events: all;
}
.member-modal .details {
  grid-area: details;
}
.member-modal h4 {
  font-size: 2rem;
  font-family: var(--font-handwriting);
  white-space: nowrap;
}
.member-modal h5 {
  font-size: 1.25rem;
}
.member-modal .details-table {
  display: grid;
  gap: var(--inline-spacing);
  grid-template-columns: min-content auto;
}
.member-modal .details p {
  white-space: nowrap;
}
.member-modal .details-label {
  width: min-content;
  place-self: center flex-end;
  text-align: right;
  font-size: smaller;
  color: var(--color-text-lowlight);
}
.member-modal .avatar {
  width: 16vw;
  height: auto;
  grid-area: avatar;
  position: relative;
}
.member-modal .answer {
  padding-top: var(--section-padding);
  grid-area: answer;
  align-self: flex-end;
}
.member-modal .prompt {
  margin-bottom: var(--inline-spacing);
  font-size: smaller;
  color: var(--color-text-lowlight);
}
.member-modal .close-modal {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: var(--section-padding);
  right: var(--main-margin);
  cursor: pointer;
}

#member-backdrop {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 90px;
  left: 0;
  z-index: 29;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  background-color: var(--color-body-bg);
  transition: all 0.35s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
#member-backdrop.hidden {
  opacity: 0;
  visibility: hidden;
}

/*
Messy styles for member cards based on bits and pieces of these examples
https://codepen.io/tmrDevelops/pen/VeRvKX
https://codepen.io/piccalilli/pen/MPLzay
https://codepen.io/mp/pen/kBEeKw
*/

.sketchy {
  border: solid 2px #41403e;
  border-radius: 255px 15px 225px 15px / 15px 225px 15px 225px;
  /* Fix jagged edges in Chrome */
  backface-visibility: hidden;
  /* Check if below is needed when testing other browsers
  https://stackoverflow.com/questions/6492027/css-transform-jagged-edges-in-chrome
   */
  /* -webkit-background-clip: content-box;
  background-clip: content-box; */
  transition: all 0.15s ease-out;
}

.messy {
  border: solid black;
  border-color: black;
  /* Fix jagged edges in Chrome */
  backface-visibility: hidden;
  /* Check if below is needed when testing other browsers
  https://stackoverflow.com/questions/6492027/css-transform-jagged-edges-in-chrome
   */
  /* -webkit-background-clip: content-box;
  background-clip: content-box; */
  border-width: 3px 4px 3px 5px;
  border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
  transition: all 0.15s ease-out;
}
.messy:hover {
  box-shadow: 0.2rem 0.8rem 0.4rem -0.6rem hsla(0, 0%, 0%, 0.3);
}

.member-card.messy:nth-child(odd) {
  transform: rotate(2deg) translateX(var(--section-padding));
}
.member-card.messy:nth-child(even) {
  transform: rotate(-1deg);
  border-radius: 60% 14% 80% 5%/8% 5% 6% 50%;
}
.member-card.messy:nth-child(3n) {
  transform: rotate(2.5deg) translateX(var(--section-padding));
}

.member-modal.messy {
  animation: amoeba 20s infinite;
}
@keyframes amoeba {
  /* border-radius: 95% 4% 92% 5%/4% 95% 6% 95%; */
  15% {
    border-radius: 10% 10% 80% 5%/5% 70% 6% 50%;
  }
  30% {
    border-radius: 75% 5% 80% 14%/12% 50% 8% 5%;
  }
  65% {
    border-radius: 75% 5% 20% 14%/8% 40% 8% 50%;
  }
}
