#app-wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#header-wrapper {
  width: 100%;
  position: fixed;
  top: 0;

  display: flex;
  justify-content: space-between;
  justify-items: flex-end;
}
.app-title {
  margin-left: 5rem;
  margin-top: 2rem;
}

#navigation {
  display: fixed;
  top: 3.5rem;
  right: 0;
}

main {
  display: contents;
}

main > div {
  height: 100%;
  margin: 4rem auto;
}

.index-wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
  grid-template-rows: 50% 50%;
  grid-template-areas:
    'l tr'
    'l br';
  column-gap: 4rem;
  row-gap: 1rem;
}

.index-left {
  grid-area: l;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.index-left p {
  font-size: 1.2em;
  margin: 0;
}

.index-right {
  grid-area: br;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.login-message {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.login-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 0.75rem;
}
.login-form > label {
  margin-bottom: -0.5rem;
}
