#app-wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

#header-wrapper {
  width: 100%;
  padding: var(--section-padding) var(--main-margin) 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-body-bg);
}
.header-controls {
  text-align: right;
  line-height: 1.5;
}
h1.app-title {
  margin: 0;
  position: relative;
  top: var(--section-padding);
  z-index: 20;
  font-family: var(--font-handwriting);
  font-size: 3.5rem;
}
#header-wrapper::after {
  content: '';
  height: var(--main-margin);
  width: 100%;
  position: absolute;
  z-index: 10;
  bottom: calc(-1 * var(--main-margin));
  left: 0;
  background: linear-gradient(
    var(--color-body-bg),
    75%,
    rgba(255, 255, 255, 0)
  );
  pointer-events: none;
}

#navigation {
  width: min-content;
  padding: var(--section-padding);
  position: fixed;
  top: 90px;
  right: 0;
  z-index: 30;
  white-space: nowrap;
  background-color: var(--color-body-bg);
  transform: translateX(calc(-1 * var(--main-margin)));
  transition: all 0.75s ease-out;
}
#navigation ul {
  transition: all 0.25s ease-out;
}
#navigation .link {
  margin-left: calc(1.5 * var(--section-padding));
}
#navigation .link:not(:last-child) {
  margin-bottom: var(--section-gap);
}
#navigation li > span {
  display: block;
  font-size: small;
}
#navigation .nav-buttons {
  margin-bottom: var(--section-gap);
  display: flex;
  align-items: center;
  cursor: pointer;
}
#navigation .menu-toggle {
  margin: 0;
  padding: 0;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  line-height: normal;
  text-align: left;
  transition: all 0.5s ease-out;
}
#navigation .menu-toggle h3 {
  margin: 0;
}
#navigation svg {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: var(--inline-spacing);
  transform: rotate(-90deg);
}
#navigation.hidden {
  background-color: rgba(255, 255, 255, 0);
  transform-box: border-box;
  transform: translateX(100%);
}
#navigation.hidden ul {
  opacity: 0;
}
#navigation.hidden .menu-toggle {
  transform-box: border-box;
  transform: translateX(
    calc(-1 * (100% + var(--section-padding) + var(--main-margin)))
  );
}

main {
  display: contents;
}

.main-wrapper {
  width: 100%;
  padding: var(--main-margin);
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(2, fit-content(40vw));
  grid-auto-flow: column;
  column-gap: var(--main-margin);
  row-gap: var(--section-padding);
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}
.main-wrapper .to-bottom {
  align-self: flex-end;
}
.main-wrapper .to-top {
  align-self: flex-start;
}

.main-wrapper.index {
  grid-template-columns: minmax(300px, 400px) fit-content(50vw);
  grid-template-rows: 1fr 1fr;
}
.index-block {
  font-size: 1.2rem;
  line-height: 1.5;
}
.index-block svg {
  width: 100%;
  height: auto;
}
.index h3 {
  white-space: nowrap;
}
.index blockquote {
  text-align: end;
}
.index blockquote p {
  font-family: var(--font-handwriting);
}
.index blockquote p::before {
  content: '“';
  font-size: larger;
  margin-left: calc(-2 * var(--inline-spacing));
  margin-right: var(--inline-spacing);
}
.index blockquote p::after {
  content: '”';
  font-size: larger;
  margin-left: var(--inline-spacing);
  margin-right: calc(-2 * var(--inline-spacing));
}
.index figcaption::before {
  content: '~';
  margin-right: var(--inline-spacing);
}

.index-block.login {
  padding: 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--section-padding);
}
.login-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.login-message span {
  white-space: nowrap;
  font-family: var(--font-handwriting);
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.details-form {
  grid-area: r;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.details-form input {
  margin-bottom: 0.75rem;
}

.profile-avatar {
  position: relative;
  width: 100%;
  height: 100%;
  grid-area: avatar;
}

.team-side {
  padding: var(--section-padding);
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  border: double 6px hsl(33, 14%, 50%);
  /* border-radius: 5px; */
  background-color: #cdb699;
  box-shadow: 0.65rem 0.65rem inset hsl(33, 34%, 35%),
    -0.1rem -0.1rem 0.75rem inset hsl(33, 54%, 15%);
}
.team-side h2 {
  white-space: nowrap;
}
.team-side h2,
.team-side h3,
.team-side h4 {
  width: 100%;
  text-align: center;
}
.team-side h3 {
  font-size: large;
}
.team-side h4 {
  font-size: larger;
  font-family: Virgil, Caveat, cursive;
}
.member-side {
}
.collab {
  padding: var(--section-padding);
  display: flex;
  flex-flow: row wrap;
  gap: var(--section-gap);
  background-color: white;
  transform: rotate(0.75deg);
  box-shadow: 0.1rem 0.1rem 0.5rem black;
}
.collab-entry {
  max-width: 80%;
  padding: 0.3rem 0.5rem 0.15rem;
  font-size: smaller;
  transform-box: border-box;
  transform: translateX(10%);
}
.collab-entry:hover {
  box-shadow: 0.2rem 0.8rem 0.4rem -0.6rem hsla(0, 0%, 0%, 0.3);
}

.member-card {
  margin: 0.75rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: auto 150px;
  grid-template-rows: auto auto;
  grid-template-areas:
    'details avatar'
    'answer answer';
  gap: 1rem;
  font-size: smaller;
}
.member-card h4 {
  font-family: Virgil, Caveat, cursive;
  font-size: xx-large;
}
.member-card .sec-name {
  font-size: x-large;
}
.member-card .avatar {
  position: relative;
  width: 100%;
  height: 100%;
  grid-area: avatar;
  /* object-fit: contain; */
}
.member-card .details {
  grid-area: details;
}
.member-card .answer {
  grid-area: answer;
  font-size: x-large;
}
.member-card span,
.member-card .prompt {
  margin-right: 0.75rem;
  font-size: smaller;
  color: silver;
}
.member-card p {
  line-height: 1.1;
  font-size: initial;
}
.member-card a:hover {
  text-decoration: tomato wavy underline;
}

/*
Sketchy styles for member cards based on bits and pieces of these examples
https://codepen.io/tmrDevelops/pen/VeRvKX
https://codepen.io/piccalilli/pen/MPLzay
https://codepen.io/mp/pen/kBEeKw
*/

.messy {
  border: solid 2px #41403e;
  border-radius: 255px 15px 225px 15px / 15px 225px 15px 225px;
  /* Fix jagged edges in Chrome */
  backface-visibility: hidden;
  /* Check if below is needed when testing other browsers
  https://stackoverflow.com/questions/6492027/css-transform-jagged-edges-in-chrome
   */
  /* -webkit-background-clip: content-box;
  background-clip: content-box; */
}

.sketchy {
  border: solid black;
  border-color: black;
  position: relative;
}
.sketchy {
  border-width: 3px 4px 3px 5px;
  border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
}
.member-card.sketchy:nth-child(even) {
  transform: rotate(-2deg);
}
.member-card.sketchy:nth-child(odd) {
  transform: rotate(1deg);
}
.sketchy:hover {
  box-shadow: 0.2rem 0.8rem 0.4rem -0.6rem hsla(0, 0%, 0%, 0.3);
}

/* 
.sketchy {
  border: 2px solid #333333;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  position: relative;
}
.sketchy::before {
  border: 2px solid #353535;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
  border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
} */
